body {
  font-family: 'Roboto', sans-serif;
  background-color: #171c29;
}

.pagetitle {
  margin: 0 auto;
  color: white;
  border-radius: 20px;
  background-color: rgba(34, 48, 80, 0.75);
  width: fit-content;
  padding: 10px;
  font-size: 50px;
  letter-spacing: 1mm;
  text-align: center;
}

.titleSeperater {
  padding-top: 20px;
}

.lurl {
  background-color: rgba(34, 48, 80, 0.75);
  width: fit-content;
  text-align: center;
  margin: 0 auto;
  padding-top: 20px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
  border-radius: 20px;
}

label[for="Lurl"] {
  font-size: 30px;
  color: white;
  font-weight: bold;
}

input[id="Lurl"] {
  font-size: 20px;
  width: 500px;
  border-radius: 10px;
  border-style: solid;
  border-color: green;
  border-width: 4px;
}

.outputBox {
  font-size: 20px;
  width: 500px;
  border-radius: 10px;
  border-style: solid;
  border-color: green;
  border-width: 4px;
  background-color: white;
  color: black;
}

.urlinput {
  padding-bottom: 15px;
  padding-top: 10px;
  text-align: left;
}

input[id="Lurl"]:valid {
  border-color: green;
}

input[id="Lurl"]:invalid {
  border-color: red;
}

.validerror {
  width: 500px;
  height: 20px;
  margin: 0 auto;
  color: white;
  font-size: 15px;
  text-align:center;
  border-radius: 20px;
  border-color: red;
  border-style: solid;
  border-width: 2px;
  background-color: rgba(255, 0, 0, 0.5);
}

.errorbox {
  padding-bottom: 20px;
  display: none;
}

button[id="urlSubmit"] {
  font-size: 20px;
  border-radius: 10px;
  border-width: 0px;
  background-color: rgb(255, 91, 104);
  padding-top: 10px;
  padding-bottom: 10px;
  width: 100px;
  color: white;
  cursor: pointer;
}

button[id="urlCopy"] {
  font-size: 20px;
  border-radius: 10px;
  border-width: 0px;
  background-color: #46b582;
  padding-top: 10px;
  padding-bottom: 10px;
  width: 100px;
  color: white;
  cursor: pointer;
}

button[id="urlSubmit"]:hover {
  background-color: rgb(255, 134, 144);
}

.input {
  display: block;
}

.output {
  display: none;
}

/* Removes text box outline */
input:focus, textarea:focus, select:focus, button:focus{
  outline: none;
}

::selection {
  background: none;
}